@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;
    --card: 240 2% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 240 2% 13%;
    --popover-foreground: 0 0% 98%;
    --primary: 180 100% 50%;
    --primary-foreground: 240 2% 13%;
    --secondary: 240 2% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 2% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 285 74% 53%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 2% 25%;
    --input: 240 2% 25%;
    --ring: 180 100% 50%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  
  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;
    --card: 240 2% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 240 2% 13%;
    --popover-foreground: 0 0% 98%;
    --primary: 180 100% 50%;
    --primary-foreground: 240 2% 13%;
    --secondary: 240 2% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 2% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 285 74% 53%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 2% 25%;
    --input: 240 2% 25%;
    --ring: 180 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .btn-glare {
    @apply relative overflow-hidden;
  }
  .btn-glare::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -60%;
    width: 20%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0.0) 100%
    );
  }
  .btn-glare:hover::after {
    opacity: 1;
    left: 130%;
    transition-property: left, opacity;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: ease-out;
  }
}

.liquid-ether-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  touch-action: none;
}
